@page "/stores"
<h3>Stores</h3>
<h5>Neuer Store</h5>
<div>
    <AddStore />
</div>
<h5>Alle Stores</h5>
<table class="table table-sm">
    <thead>
        <tr>
            <th>GUID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in StoreList)
        {
            <tr>
                <td>@s.Guid</td>
                <td>@s.Name</td>
            </tr>
        }
    </tbody>
</table>