@inject RestService RestService
@inherits LayoutComponentBase

<div class="page">
    @if (RestService.IsAuthenticated)
    {
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                Angemeldet als Benutzer @RestService.CurrentUser?.Username
                <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    }
    else
    {
        <div class="main">
            <ScsOnlineShop.Wasm.Pages.Login />
        </div>
    }
</div>
