@if (Show)
{
    <div class="modal" style="display: block" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                @if (!string.IsNullOrEmpty(Title))
                {
                    <div class="modal-header">
                        <h5 class="modal-title">@Title</h5>
                    </div>
                }
                <div class="modal-body">
                    @ChildContent
                    <div>
                        <button type="button" class="btn btn-primary"
                            @onclick="@(()=>{
                            Show = false;
                            _taskCompletionSource?.TrySetResult(true);
                        })">
                            OK
                        </button>
                        @if (ShowCancel)
                        {
                            <button type="button" class="ms-2 btn btn-secondary"
                            data-bs-dismiss="modal"
                            @onclick="@(()=>{
                            Show = false;
                            _taskCompletionSource?.TrySetResult(false);
                        })">
                                Cancel
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}




@code {
    private TaskCompletionSource<bool>? _taskCompletionSource;
    private bool Show { get; set; }
    private bool ShowCancel { get; set; }

    [Parameter]
    public string Title { get; set; } = string.Empty;
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    public Task<bool> ShowConfirmation()
    {
        ShowCancel = true;
        return ShowDialog();
    }
    public Task<bool> ShowDialog()
    {
        _taskCompletionSource = new();
        Show = true;
        return _taskCompletionSource.Task;
    }
}
