<!DOCTYPE html>
<html>

<head>
    <title>Beispiel 2: AJAX mit Vue.js</title>
    <meta charset="utf-8" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style type="text/css">
        .holiday {
            color: red;
        }
    </style>
</head>

<body>
    <div id="weatherApp" class="container">
        <h1>Beispiel 2: AJAX mit Vue.js</h1>
        <div class="form-group row">
            <label class="col-sm-2  col-form-label" for="latInput">Latitude:</label>
            <div class="col-sm-1">
                <input class="form-control" type="text" id="latInput" v-model="pos.lat">
            </div>
            <label class="col-sm-2  col-form-label" for="lngInput">Longitude:</label>
            <div class="col-sm-1">
                <input class="form-control" type="text" id="lngInput" v-model="pos.lng">
            </div>
            <label class="col-sm-2  col-form-label" for="heightInput">Height:</label>
            <div class="col-sm-1">
                <input class="form-control" type="text" id="heightInput" v-model="pos.height">
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary" v-on:click="getForecast">Get Forecast</button>
            </div>
        </div>
        <div class="row">
            <p  v-if="maxTemps.length > 0" class="col-12">Vorausgesagte Tageshöchstwerte für den Standort:</p>
            <ul class="col-12">
                <li v-for="temp in maxTemps">
                    <span v-bind:class="{holiday: temp.time.getDay() == 0}">{{temp.time.getGermenStr()}} : {{ temp.temperature }} °C</span>
                </li>
            </ul>
        </div>
    </div>

    <script src="index.vm.js"></script>
</body>

</html>